<div class="row-fluid">
  <div class="span9">
<p>The Mobtown Ballroom is the home of blues dancing in Baltimore, offering dances, workshops, and special events presented by Nevermore Blues, including the Baltimore Blues Summits, Tuesday Blues (on first and third Tuesdays), and the Baltimore Swing, Soul, &amp; Blues Parties.</p>
<p><strong>Nevermore Blues</strong> aims to support and cultivate blues dancing in Baltimore by offering both new and seasoned dancers opportunities to learn, enjoy great music, and have fun on the dance floor.</p>
<h4>What is blues dancing?</h4>
<p>Blues is a fun, creative, and expressive style of dance that can be done to music in a wide variety of styles and tempos, including high energy Chicago blues, slinky jazz blues, and soulful Delta blues. First developed alongside jazz and blues music during the early 20th century, blues dancing prospered over the years in small, intimate venues like juke joints and house parties, then gained new popularity more recently with the revival of Lindy hop. Modern blues dance is based on vintage styles like Slow Drag and often borrows elements from other dances, like Lindy hop, West Coast Swing, and Argentine tango. Blues is constantly evolving, but is grounded in the fundamentals of partner connection, pulse, improvisation, and musicality.</p>

<p>Keep up with the latest on the <a href="http://www.facebook.com/NevermoreBlues">Nevermore Blues Facebook page</a>.</p>
  </div>
  <div class="signup-well span3">
    <p>On the first and third Tuesday of every month, dance to the music you love in Baltimore’s new sanctuary for blues.</p>

    <ul>
      <li>9:00 Drop-in Lesson</li>
      <li>9:30pm-12:00am Dance</li>
    </ul>
    <h5>Pricing</h5>
    <p>The dance is $7, and the lesson is included.</p>

    <p>No experience or partner required.</p>
  </div>
</div>
