<div class="content">
<%= credited_image_tag 'davis/salsa-300.jpg', credit: 'davis', class: 'pull-left img-rounded' %>
<p>Salsa at the Mobtown Ballroom happens on the first Saturday of the month (with a few exceptions for special events here and there). Spearheaded by the redoubtable Tabitha Holliday, these evenings keep you dancing all night long. As with all of our events, a drop-in lesson happens beforehand. You don't need to bring a partner; you just need to show up ready to have a hell of a good time. $5 per lesson and $5 for the dance.</p>
</div>
