<div class="row-fluid">
  <div class="span9 content">
    <p>Our regular Monday and Friday dances go on as late you want to stay. No experience or partner required.</p>
    <h5>Mondays</h5>
    <ul>
      <li>8-9 Drop-in Beginner Lesson</li>
      <li>9-11:30 Swing &amp; Lindy Hop Dance</li>
    </ul>

    <h5>Fridays</h5>
    <ul>
      <li>8-9 Drop-in Beginner Lesson</li>
      <li>9-late Swing &amp; Lindy Hop Dance</li>
    </ul>
    <%= credited_image_tag 'munchel/crowd-in-motion-800.jpg', credit: 'munchel', class: 'img-rounded big-picture' %>
  </div>
  <div class="signup-well span3">
    <h5>Pricing</h5>
    <p>Drop-in lessons are $5. Monday dances are $5; Fridays are $7.
    <p>When we bring in live bands, pricing changes. See event announcements for details.</p>
  </div>
</div>

