<div class="content">
<%= image_tag 'west-coast-300.jpg', class: 'pull-left img-rounded' %>
<p>West Coast Swing is a new addition to the Mobtown lineup, and much like the fabled chupacabra, our WCS night strikes irregularly and without warning, so pay attention. Our next night will be Sunday, April 27th. West Coast is a smooth and sexy dance done to a huge variety of music. Our Sunday night dances have become highly prized for the laid-back atmosphere, perfect dance floor, and top-notch instruction. Check the events page for details. $10 gets you the dance and lesson.</p>
</div>
