<h4>Regular Dance Events</h4>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="dances">
    <li><a href="#swing" data-toggle="tab">Monday & Friday Swing</a></li>
    <li><a href="#blues" data-toggle="tab">Tuesday Blues</a></li>
    <li><a href="#salsa" data-toggle="tab">Saturday Salsa</a></li>
    <li><a href="#west-coast" data-toggle="tab">West Coast</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="swing">
      <%= render 'static_pages/weekly_swing' %>
    </div>
    <div class="tab-pane active" id="blues">
      <%= render 'static_pages/blues' %>
    </div>
    <div class="tab-pane" id="salsa">
      <%= render 'static_pages/salsa' %>
    </div>
    <div class="tab-pane" id="west-coast">
      <%= render 'static_pages/west_coast' %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
<script>
$('#dances').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
})

$('#dances a:first').tab('show');
</script>
<% end %>

<% content_for :title, 'Dance Nights' %>
