<div class="img-rounded content">
<h4>The Skinny</h4>
<p>THE MOBTOWN BALLROOM, located in historic Pigtown, is Baltimore’s premiere location for social dance events, dance classes, live music, conferences, weddings, and general mayhem. We host belly dance, burlesque, art shows, and pretty much everything you could want in an evening out. We restored a beautiful 1870s church with a 2,500 square foot sprung dance floor and a 1,200 square foot stage.</p>


<h4>Rental Information</h4>
<%= credited_image_tag 'munchel/curtains-300.jpg', credit: 'munchel', class: "img-rounded pull-left" %>
<p>The Mobtown Ballroom is available for weddings, parties, conferences, and a wide array of events. We have retained the original splendor of this 19th century church, while making some improvements, including the installation of a gorgeous, 3,000 square-foot oak floor (the best dance floor on the East Coast), the construction of a beautiful oak bar and sound booth (both of which were salvaged from original church furniture), and some of the most powerful air-conditioning known to man.  All of our alterations were made using repurposed materials within the building, leaving this space with a classic and flexible elegance.</p>

<p>The Mobtown Ballroom is not affiliated with any religion and welcomes all regardless of race, gender, class, or sexual orientation. Whether you want to dance, host a birthday party, or get married, our doors are open.</p>

<h4>Weddings (Gay, Straight, or Otherwise)</h4>
<%= credited_image_tag "munchel/brightly-lit-tables-300.jpg", credit: 'munchel', class: "pull-right img-rounded" %>
<p>We have an experienced team on hand to help make your wedding happen in our space. The Ballroom has some of the beauty and transcendent elegance of a traditional church combined with the functionality of a theatre and entertainment center. It thus serves perfectly for both the wedding and the reception.  Email <a href="mailto:mobtownballroom@gmail.com">mobtownballroom@gmail.com</a> to schedule a walkthrough, or call (443) 699-3040.</p>

<h4>Amenities</h4>
<p>All rentals include the use of a the sound-system and our stage and floor lights. We have 25 cafe-style round tables with burgundy or white table clothes, 150 burgundy and gold chairs, and pew seating for up to 40 people. Behind our beautiful bar we have a selection of soft drinks and bottled water/juice available for sale. Any rental includes the use of all of this and the presence of at least one staff member to deal with any problems that may arise.</p>

<h4>Rates and Availability</h4>
<%= credited_image_tag "munchel/bar-300.jpg", credit: 'munchel', class: "pull-left img-rounded" %>
<p>The Ballroom is never available for rental on Monday or Friday nights. Saturday and Sunday evening rentals run between $800-$3,000 depending on the number of staff persons required, and the level of back-end work necessary on our end. Weekday nights are negotiable as are daytime rentals during the week. We try to keep our clients&#8217; options open to make the space available for a wide variety of purposes, and we are willing to work with you to provide the perfect event on your budget. We are currently looking for weekday 9-5 rentals, and will provide a very reasonable price to long-term renters.</p>

<p>We have a full schedule, so inquire far in advance. Contact <a href="mailto:smobtownballroom@gmail.com">mobtownballroom@gmail.com</a> for rates and availability.</p>
</div><!-- content -->
<% content_for :title, 'The Venue' %>
