<p>THE MOBTOWN BALLROOM, located in historic Pigtown, is Baltimore’s premiere location for social dance events, dance classes, live music, conferences, weddings, and general mayhem. We host belly dance, burlesque, art shows, and pretty much everything you could want in an evening out. We restored a beautiful 1870s church with a 2,500 square foot sprung dance floor and a 1,200 square foot stage.</p>

<h3>Parking</h3>
<p>We are working on some deals to secure a parking lot in the evening, but for now, all parking is street parking. If you can’t find a spot on Washington Boulevard, we recommend that you head North rather than South. Carpool and show up early, as parking doesn’t usually become a problem before 9:30, and is never a problem on class nights.</p>

<iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=861+Washington+Boulevard,+Baltimore,+MD&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=54.093296,79.013672&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=861+Washington+Blvd,+Baltimore,+Maryland+21230&amp;t=h&amp;z=14&amp;ll=39.282938,-76.630908&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="660" height="660"></iframe>
