<h3>Mobtown Videos</h3>
<p>Reviews from some of our classes, videos of Mobtown regulars dancing in competitions, and anything we deem right and just and beneficial for your soul.</p>
<div id="videogroup">
  <div id="videoPlayer"></div>
  <div id="videolist"></div>
</div>

<%
  # Playlist IDs from YouTube
  playlists = ['PLh4Za834nAiWUMw5PUXbLeMjCyRDGpw8N', # lindy 1
    'PLh4Za834nAiWRYQ4Q2ZON5zbg-yx-Y9fA', # lindy 2
    'PLh4Za834nAiWLHvbx0tzhd3e88R78m9nP', # lindy 3
    'PLh4Za834nAiXcA6x_L3kWuoZNN3LCi4KL', # swing 1
    'PLh4Za834nAiV-ahyNLyGVeNWNtDuiSRsH', # west coast 1
    'PLh4Za834nAiUukWzcZckKrBGetUUvDHy5', # west coast for lindy hoppers
    'PLh4Za834nAiUy7YwyYaV97c5Kk1v_a8mh'] # ILHC announcements
%>

  <% playlists.each_with_index do |p, i| %>
    <% even = (i % 2 == 0) %>
    <%raw even ? '' : '<div class="row-fluid">'  %>
    <div class="span6">
      <iframe src="http://www.youtube.com/embed/videoseries?list=<%= p %>" 
      width="400" height="280" frameborder="0"></iframe>
    </div>
    <%raw even ? '</div>' : ''  %>
  <% end %>
  <%raw (playlists.length % 2) == 0 ? '' : '</div>' %>

