<%= content_tag :h4, 'Inquire about Renting the Ballroom' %>
<p>Please provide some information about your event. We will contact you promptly to discuss the details. We're just looking for some ballpark figures to start the conversations.</p>

<%= render 'form' %>

<% content_for 'title', 'Inquire about a rental' %>
