<%= content_tag :h4, 'Manage Events' %>
<table class='table-striped'>
  <tbody>
  <% @events.each do |event| %>
    <%= content_tag :tr do %>
      <%= content_tag :td, link_to(event.name, edit_event_path(event)) %>
      <%= content_tag :td, link_to(content_tag(:i, '', class: 'icon-trash'), event, :confirm => 'Pull the trigger?', :method => :delete) %>
    <% end %>
  <% end %>
  </tbody>
</table>


<% content_for :title, 'Manage Events' %>
