    <ul class="nav nav-list">
    <% Category.all.each do |category| %>
      <li class="nav-header"><%= category.name %></li>
      <% category.dance_classes.each do |dance_class| %>
        <li><%= link_to dance_class.name, dance_class_path(dance_class) %></li>
      <% end %>
    <% end %>
    </ul>
