<h4>Belly Dancing</h4>

<%= image_tag 'belly-dancing-michelle-300.jpg', class: 'img-rounded pull-left' %>
<p>Nina Gilkenson is a world-class dance teacher, competitor and choreographer who brings a sense of graceful fun to everything she does. The Mobtown Ballroom is proud to announce that she will now be teaching Belly Dance classes on Tuesday nights. Nina employs musical variety and a mixture of styles to help you become a versatile and interesting dancer.</p>

<p>Unlike other Belly Dance classes, Nina's program does not require that you participate in a performance. There are certainly opportunities to perform, but we realize that people take Belly Dancing for a variety of reasons: Some want to train for other disciplines, some want to perform, some want to get fit, and some aren’t quite sure yet. That's okay here.</p>
