<h4>Lindy Hop</h4>

<p>At the Mobtown Ballroom we offer regular six-week series in Lindy Hop and East Coast Swing. Lindy Hop is the most interesting, complex, and expressive of the swing dances, and can be danced to a wide range of musical styles and tempos. Developing out of Charleston in the 1920s Lindy hop incorporates a number of other dances, and has endless opportunities for improvisation and development. Everyone has a different style, and everyone can dance with each other.</p>
