<h4>Salsa</h4>

<p>We teach regular Salsa classes at the Mobtown Ballroom, and we have a Salsa dance on the first Saturday of each month.</p>

<p>We cultivate a relaxed and beginner friendly atmosphere for our Salsa programming at the Ballroom. No partner is required, and people are here to dance. It's not a traditional club/pickup scene.</p>
