<h4>East Coast Swing Dancing</h4>

<p>At the Mobtown Ballroom we offer regular six-week series in Lindy Hop and East Coast Swing. East Coast Swing is a later development and is composed of the simpler, 6-count elements of Lindy Hop. All of our Lindy classes are offered at the absolute beginner level, but East Coast Swing offers an option for those who are either dipping their toe in the water or want to take the class simultaneously with Lindy 1 to get a jump start on 6-count material.</p>

<p>The Mobtown Ballroom is committed to making it as easy as possible to get started dancing, which is why we offer a drop in lesson at 8:00 on every Monday and Friday before our main swing dances. The drop-in is $5 and gives you everything you need to start dancing immediately. Try it out to see if you'd like to take a full-on series.</p>

<p>All of our regular Swing and Lindy Hop classes are taught by Nina Gilkenson and Michael Seguin. Nina is a world-famous instructor and spends most of her weekends travelling the world teaching Lindy Hop, Belly Dance, and Burlesque. Michael has been building local dance scenes since 2000, and has developed a bullet-proof syllabus that combines enough repetition and variety to make sure that you get something new out of every class. The point is: You’re in good hands.</p>
