<h3>Editing Class</h3>
 
<%= render 'form' %>
 
<%= link_to 'Destroy', @dance_class, :confirm => 'Pull the trigger?',
                                     :method => :delete,
                                     :class => 'destroy-link' %>
