<h1>Editing Class</h1>
 
<%= render 'form' %>
 
<%= link_to 'Destroy', @dance_class, :confirm => 'Pull the trigger?',
                                     :method => :delete %>

<% content_for :title, 'Edit ' + @dance_class.name %>
