/* Import bootstrap AFTER overriding some color variables. */

/* color */
/* http://www.colourlovers.com/palette/1620866/Milan_1920 */
$framboesa: rgb(199, 54, 54);
$nothing: rgb(171, 151, 138);
$chocolate: rgb(66, 42, 42);
$blue_green: rgb(91, 128, 123); 
$dark: rgb(26, 26, 26);

$navbarLinkColor: $chocolate;
$navbarLinkColorActive: white;
$navbarLinkColorHover: white;
$navbarText: $chocolate;
$navbarBrandColor: $chocolate;
$navbarBackground: $nothing;
$navbarBackgroundHighlight: $nothing;

$linkColor: $chocolate;

@import "bootstrap";
@import "bootstrap-responsive";

/* Some overrides must be done after the import. */

.nav-pills {
  .active > a, .active > a:hover , li > a:hover {
    background: $nothing;
    color: white;
  }
}

#heroCarousel {
  width: 100%;
  margin: auto;
}

.carousel-inner .item {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.overflow-box {
  width: 100%; 
  height: 400px; 
  display: table-cell;
  vertical-align: middle;
}
.overflow-box img {
  height: auto; 
  width: 100%;
}

.carousel-caption p {
  color: $framboesa;
  .event-title {
    display: block;
    font-weight: bold;
  }
}

footer {
  margin-top: 30px;
  .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
  }
  .nav-tabs, .nav-pills {
    text-align:center;
  }
}

.center {
  text-align: center;
}

body {
  background-color: $blue_green;
  font-color: $dark;
}


