/* Import bootstrap AFTER overriding some color variables. */

@font-face {
    font-family: 'nexa_lightregular';
    src: url('nexa_light-webfont.eot');
    src: url('nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa_light-webfont.woff') format('woff'),
         url('nexa_light-webfont.ttf') format('truetype'),
         url('nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('nexa_bold-webfont.eot');
    src: url('nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa_bold-webfont.woff') format('woff'),
         url('nexa_bold-webfont.ttf') format('truetype'),
         url('nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* color */
/* http://www.colourlovers.com/palette/1620866/Milan_1920 */
$framboesa: rgb(199, 54, 54);
$nothing: rgb(171, 151, 138);
$chocolate: rgb(66, 42, 42);
$blue_green: rgb(91, 128, 123); 
$dark: rgb(26, 26, 26);

$bodyBackground: $blue_green;
$textColor: $dark;

$serifFontFamily: 'nexa_lightregular'; 
$baseFontFamily: $serifFontFamily;
$baseFontSize: 15px;
$baseLineHeight: 22px;

$navbarLinkColor: $chocolate;
$navbarLinkColorActive: white;
$navbarLinkColorHover: white;
$navbarText: $chocolate;
$navbarBrandColor: $chocolate;
$navbarBackground: $nothing;
$navbarBackgroundHighlight: $nothing;

$linkColor: $chocolate;

$btnPrimaryBackground: $nothing;

@import "bootstrap";
@import "bootstrap-responsive";

/* Some overrides must be done after the import. */

@font-face {
    font-family: 'mission_scriptregular';
    src: url('mission-script-webfont.eot');
    src: url('mission-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('mission-script-webfont.woff') format('woff'),
         url('mission-script-webfont.ttf') format('truetype'),
         url('mission-script-webfont.svg#mission_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5 {
  font-family: 'nexabold_regular';
  font-weight: normal;
  text-transform: uppercase;
}

header .navbar {
  font-family: 'mission-scriptregular';
  font-weight: normal;
}

.nav-pills {
  .active > a, .active > a:hover , li > a:hover {
    background: $nothing;
    color: white;
  }
}

.nav-list li a {
  color: $chocolate;
  text-shadow: none;
  &:hover {
    background-color: $nothing;
  }
}

.nav-list .nav-header {
  color: $dark;
  text-shadow: none;
}

.signup-well {
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: lighten($blue_green, 20%);
}

.btn-dirtydog {
  /* using http://charliepark.org/bootstrap_buttons/ */
  background-color: hsl(20, 23%, 63%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddd0c9", endColorstr="#b6998a");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ddd0c9), to(#b6998a));
  background-image: -moz-linear-gradient(top, #ddd0c9, #b6998a);
  background-image: -ms-linear-gradient(top, #ddd0c9, #b6998a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd0c9), color-stop(100%, #b6998a));
  background-image: -webkit-linear-gradient(top, #ddd0c9, #b6998a);
  background-image: -o-linear-gradient(top, #ddd0c9, #b6998a);
  background-image: linear-gradient(#ddd0c9, #b6998a);
  border-color: #b6998a #b6998a hsl(20, 23%, 58%);
  color: $chocolate !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

#heroCarousel {
  width: 800px; 
  margin: auto;
}

.carousel-inner .item {
  height: 400px;
  overflow: hidden;
}

.overflow-box {
  height: 400px; 
  display: table-cell;
  vertical-align: middle;
}
.overflow-box img {
  height: auto; 
  width: 800px;
}

.carousel-caption p {
  color: $framboesa;
  .event-title {
    display: block;
    font-family: 'nexa_boldregular';
    text-transform: uppercase;
  }
}

footer {
  margin-top: 30px;
  .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
  }
  .nav-tabs, .nav-pills {
    text-align:center;
  }
}

.nav-tabs > li > a {
  font-family: 'mission_scriptregular';
}

.nav-tabs > li > a:hover {
  color: white;
  border-color: $nothing;
  border-bottom-color: white;
  background-color: $nothing;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: $white;
}

.center {
  text-align: center;
}

.content img {
  &.pull-right {
    margin: 5px 0px 5px 10px;
  }
  &.pull-left {
    margin: 5px 10px 5px 0px;
  }
}

.bio-pic {
  width: 200px;
  height: auto;
  float: left;
  margin: 5px 10px 5px 0px;
}

/* Pad container. */
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
	width: 940px;
	padding: 10px;
}
@media (max-width: 767px) {
  body{
    padding-left: 0px;
    padding-right: 0px;
  }
  .container{
    padding:5px 19px;
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
    padding:10px 14px;
  }
}
@media (min-width: 1200px) {
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
    padding:10px 14px;
  }
}

select.student {
   width: 100%;
}
