<div class="row-fluid">
  <div class="span4 center">
    <p>You're in.</p>
    <%= image_tag "dr_strangelove.jpg" %>
  </div>
  <div class="span8">
    <h5>Handy Links</h5>
    <ul>
      <li><%= link_to 'New Event', new_event_path %></li>
      <li><%= link_to 'New Class', new_dance_class_path %></li>
      <li><%= link_to 'New Mob Blog Post', new_post_path %></li>
    </ul>
  </div>
</div>
