<h4>Registered!</h4>

<p>Your payment of <strong><%= number_to_currency(@price) %></strong> has been received, and you are successfully registered. We will have your name at the door. If you wish, you may print this page for your own records, but it will not necessary for admission. Just check in with your name.</p>

<p>Contact <a href="mailto:mobtownballroom@gmail.com">mobtownballroom@gmail.com</a> with any questions.</p>
