<h4>Registered!</h4>

<p>Your payment of <strong><%= number_to_currency(@amount/100) %></strong> has been received, and your successfully registered. Contact <a href="mailto:mobtownballroom@gmail.com">mobtownballroom@gmail.com</a> with any questions.</p>
