<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Mobtown Ballroom</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">The Venue</a></li>
          <li><a href="#">Personalities</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Classes</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="#">Intro Swing Dancing</a></li>
              <li><a href="#">Lindy Hop</a></li>
              <li><a href="#">West Coast Swing</a><li>
              <li><a href="#">Belly Dancing</a></li>
              <li><a href="#">Salsa</a></li>
            </ul>
          </li>
        </ul>
      </div>
 
    </div>
  </div>
</div>
